@import url ("https://fonts.googleapis.com/css2?family=Poppins");
* {
    margin: 50;
    margin-left: 100;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.img-profile {
    height: 250px;
    width: 200px;
    border: 1px dashed red;
}